<!DOCTYPE html>
<html>
<head>
    <title>Biota Taiwanica</title>
    <link href="{{ url_for('static', filename='vendor/w2ui-2.0.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendor/font-awesome.min.css') }}" rel="stylesheet" />
</head>
<body>
  <div id="main" style="width: 100%; height: 500px;"></div>
  <div id="toolbar"></div>
  <script src="{{ url_for('static', filename='vendor/w2ui-2.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/papaparse.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
